{% extends "base.html" %}
{% block content %}
    <h2 class="mb-3">Config</h2>
    <div class="mb-3">
      <br>
        <h4 class="text-primary">Haukbit Configuration</h4>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group row">
              <label class="col-4 col-form-label" for="tenentfield">Tenent</label> 
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-barcode"></i>
                    </div>
                  </div> 
                  <input id="tenentfield" name="tenentid" type="text" class="form-control" required="required" value="{{ tenant_id }}">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="userfield" class="col-4 col-form-label">User</label> 
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-user"></i>
                    </div>
                  </div> 
                  <input id="userfield" name="userid" type="text" class="form-control" required="required" value="{{ login }}">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="passwdfield" class="col-4 col-form-label">Password</label> 
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-key"></i>
                    </div>
                  </div> 
                  <input id="passwdfield" name="passwd" type="text" class="form-control" required="required" value="{{ password }}">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4">SSL enabled</label> 
              <div class="col-8">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input name="sslenabled" id="sslSwitch_0" type="checkbox" class="custom-control-input" value="ssl" {{'checked=checked' if ssl == True else ""}}> 
                  <label for="sslSwitch_0" class="custom-control-label"></label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="hostField" class="col-4 col-form-label">Host</label> 
              <div class="col-8">
                <input id="hostField" name="host" type="text" class="form-control" required="required" required="required" value="{{ host }}">
              </div>
            </div>
            <div class="form-group row">
              <label for="targetnameField" class="col-4 col-form-label">Target name</label> 
              <div class="col-8">
                <input id="targetnameField" name="targetname" type="text" class="form-control" required="required" value="{{ target_name }}">
              </div>
            </div>
            <div class="form-group row">
              <label for="controlleridField" class="col-4 col-form-label">Controller id</label> 
              <div class="col-8">
                <input id="controlleridField" name="controllerid" type="text" class="form-control" required="required" value="{{ controller_id }}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="loglevelBox">Log level</label> 
              <div class="col-8">
                <select id="loglevelBox" name="loglvl" class="custom-select" required="required">
                  <option value="INFO" {{'selected' if loglevel == 'INFO' else ""}}>INFO</option>
                  <option value="DEBUG" {{'selected' if loglevel == 'DEBUG' else ""}}>DEBUG</option>
                  <option value="WARNING" {{'selected' if loglevel == 'WARNING' else ""}}>WARNING</option>
                  <option value="ERROR" {{'selected' if loglevel == 'ERROR' else ""}}>ERROR</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4">Run as service</label> 
              <div class="col-8">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input name="runasservice" id="runasservicebox" type="checkbox" class="custom-control-input" value="ras" {{'checked=checked' if run_as_service == 'yes' else ""}}> 
                  <label for="runasservicebox" class="custom-control-label"></label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="portField" class="col-4 col-form-label">Port</label> 
              <div class="col-8">
                <input id="portField" name="port" placeholder="443" type="text" class="form-control" required="required" value="{{ port }}">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-4 col-8">
                <button class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>
    </div>
{% endblock %}