{% extends "base.html" %}
{% block content %}
    <h2 class="mb-3">Dashboard</h2>
    
    <br>
    <div class="mb-4">
        <h4 class="text-primary">Targets</h4>
        <table class="table table-striped table-responsive-md btn-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Target name</th>
                <th>Controller id</th>
                <th>Status</th>
                <th>Cmd</th>
              </tr>
            </thead>
            <tbody>
                {% for target in targets %}
                    <tr>
                        <td scope="row">{{ loop.index }}</td>
                        <td>{{ target.name }}</td>
                        <td>{{ target.controller_id }}</td>
                        <td>
                            {% if target.status == 'in_sync' %}
                                <a class="text-success">in_sync</a>
                            {% else %}
                                <a class="text-danger">{{target.status}}</a>
                            {% endif %}
                        </td>
                        <td>
                            <button onclick="window.location.href='/deleteTarget?target_id={{ target.controller_id }}'" type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
{% endblock %}