{% extends "base.html" %}
{% block content %}
    <h2 class="mb-4">Logging</h2>
    <div class="mb-4">
        <div class="form-group purple-border">
            <label>Last log:</label>
            <textarea class="form-control mb-2" id="loggingbox" rows="25">{{ log }}</textarea>
          </div>
    </div>
    <script>
        //auto scroll down to see the last log
        textarea = document.getElementById("loggingbox");
        textarea.scrollTop = textarea.scrollHeight;
    </script>
{% endblock %}